h1 {
  color:#083D77;
  font-family: helvetica
  font-size: 50px;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  ;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  ;
}

h3 {
  color:#A3E2CE;
  font-family: helvetica
  font-style: bold
}


.lists {
  color:#D8FFF2
}

#headingtwo {
  font-style: italic;
  font-family: helvetica
}

#headingthree {
  font-style: italic;
  font-family: helvetica
  color:#ED6A5A;
}

body {
  font-family: helvetica

}


body {
     margin: 0;
     padding: 0;
     }

 #navbar  {
       overflow: hidden;
       background-color: rgba(105,105,105,0.85);
     }


 #navbar a{
   float: left;
   display: block;

   color: white;
   text-align: center;
   padding: 16px 16px;
   text-decoration: none;
   font-family: 'Helvetica', sans-serif;
   font-size: 19px;
 }

#page1 h2  {
  color: #E6F6F7;}

#page1 {
    color: white;
    background-color:#74A4BC;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
  }

#page11 {
    color: turquoise;
    background-color:#083D77;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
  }

#page11 h1  {
    color: #E6F6F7;}


#page2 {
    color: #B6D6CC;
    background-color:#74A4BC;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
  }

#page3 {
    color: white;
    background-color:#ED6A5A;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
  }

#page3 h1  {
    color: white;}

#page4 {
    color: #74A4BC;
    background-color:#083D77;
    padding: 20px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
  }

#page4 h1  {
    color: white;
    font-size: 20px;
  }

#page11 {
    color: turquoise;
    background-color:#083D77;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
  }

#page11 h1  {
    color: #E6F6F7;}

#navbar2{
    color: #B6D6CC;
    background-color:#083D77;
    padding: 40px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
  }

#page5 {
    color: #083D77;
    background-color:#E6F6F7;
    padding: 10px;
    margin: 150px;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
  }

#page5 h1  {
    color: #083D77;
    font-size: 30px;
    font-style: italic;
  }

#page6 {
      color: #083D77;
      background-color:#A3E2CE;
      padding: 20px;
      margin: 80px;
      font-family: 'Helvetica', sans-serif;
      font-size: 20px;
    }

#page6 h1  {
      color: #083D77;
      font-size: 30px;
      font-style: italic;
    }

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}


.youtube {
  background: #bb0000;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.background-image {
  background-image: url('http://upandhumming.com/wp-content/uploads/2016/12/happy-runners-819x1024.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
